*{
    border: 0;
    padding: 0;
    margin: 0;
}


#fundao{
    position: relative;
    width: 80vw;
    height: 60vh;
    margin: auto;
}

#header{
    position: relative;
    width: 99%;
    height: 10%;
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    text-align: center;
    padding: 7px;
}
#nav1{
    position: relative;
    width: 99%;
    height: 5%;
    background-color: rgb(26, 29, 204);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    color: #fff;
    padding: 7px;
}

#nav2{
    position: relative;
    width: 17%;
    height: 120%;
    background-color: rgb(227, 236, 58);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #fff;
    padding: 7px;
    float: left;
}

#section{
    position: relative;
    width: 60%;
    height: 120%;
    background-color: rgb(242, 145, 244);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    padding: 7px;
    float: left;
}

#header2{
    position: absolute;
    width: 52%;
    height: 5%;
    left: 22%;
    top: 35%;
    background-color: #fff;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 7px;
    float: left;
}


#div{
    position: absolute;
    width: 52%;
    height: 40%;
    left: 22%;
    top: 45%;
    background-color: rgb(204, 26, 94);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    color: #fff;
    padding: 7px;
    float: left; 
}

#paragrafo{
    position: absolute;
    width: 52%;
    height: 20%;
    left: 22%;
    top: 90%;
    background-color: rgb(228, 150, 120);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
    padding: 7px;
    float: left;
}

#div1{
    position: absolute;
    width: 15%;
    height: 20%;
    left: 22%;
    top: 115%;
    background-color: rgb(88, 198, 231);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #fff;
    padding: 7px;
    float: left;
}

#div2{
    position: absolute;
    width: 15%;
    height: 20%;
    left: 40%;
    top: 115%;
    background-color: rgb(88, 198, 231);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #fff;
    padding: 7px;
    float: left;
}

#div3{
    position: absolute;
    width: 15%;
    height: 20%;
    left: 59%;
    top: 115%;
    background-color: rgb(88, 198, 231);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #fff;
    padding: 7px;
    float: left;
}

#aside{
    position: relative;
    width: 19.9%;
    height: 120%;
    background-color: rgb(58, 236, 177);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #fff;
    padding: 7px;
    float: left; 
   
}

#footer{
    position: relative;
    width: 99%;
    height: 10%;
    background-color: rgb(11, 11, 11);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #fff;
    padding: 7px;
    float: left;   
}



