*{
    border: 0;
    padding: 0;
    margin: 0;
}


main{
    position: relative;
    width: 95%;
    height: auto;
    margin: auto;
}

header{
    position: relative;
    width: auto;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap ;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

#img_guitarra_header{
    position: relative;
    width: 90%;
    height: 150px;
    left: 4.5%;
}

nav{
    position: absolute;
    left: 52%;
    width: 38%;
    height: 30px;
    bottom: 10%;
    background-color: #fff;
}

nav li {

    list-style: none; 
    margin: 5px;
    display: inline;
}

nav li a{
    padding: 5px 10px;
    margin: 0;
    text-decoration: none;
    color: #cd2323;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.5s;
    cursor: pointer;
}

nav li a:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5); 
}

